@page
@model IndexModel
@{
    ViewData["Title"] = "Software | Engineer";
}
<br /><br />

<div class="jumbotron text-center color-white">
    <h1>Software Engineer</h1><br />
    <p>As a Software Engineer trying to expand my roots on all the possible programming languages, like a virus on a machine. To me, learning different programming languages makes the world of technology "FUN". Every new skill learned is a step closer to a successful life with a positive future.</p><br>
    <a asp-page="/Portfolio" class="btn btn-primary"><b>Portfolio »</b></a>
</div>

<div class="curcle">
    <span>D</span>
    <span>E</span>
    <span>J</span>
    <span>A</span>
    <span>N</span>
    <span>K</span>
    <span>I</span>
    <span>R</span>
    <span>O</span>
    <span>V</span>
</div>

